*{
  box-sizing: border-box;
}

html {
  background-color: #4d0000;
  font-fanmily: Verdana, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

header {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  position: fixed;
  padding: 10px;
  letter-spacing: 1.5px;
  z-index: 10;
  background-color: #7a7a52;
}

.title {
  font-weight: 700;
  text-align: left;
}

